<h1 style="text-align: center;">Stepper</h1>
<div>
  <mat-horizontal-stepper linear>
    <mat-step label="Shipping Address" completed="false">
      <p>Shipping Adress</p>
    </mat-step>
    <mat-step label="Billing Address" completed="false" optional>
      <p>Billing Address</p>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Forward</button>
      </div>
    </mat-step>
    <mat-step label="Place Order" completed="false">
      <p>Place Order</p>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-vertical-stepper linear>
    <mat-step label="Shipping Address" completed="false">
      <p>Shipping Adress</p>
    </mat-step>
    <mat-step label="Billing Address" completed="false" optional>
      <p>Billing Address</p>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Forward</button>
      </div>
    </mat-step>
    <mat-step label="Place Order" completed="false">
      <p>Place Order</p>
    </mat-step>
  </mat-vertical-stepper>
</div>
