<h1 style="text-align: center;">Input</h1>
<div>
  <mat-form-field floatLabel="never" hideRequiredMarker appearance="legacy">
    <!-- never always auto(default) -->
    <mat-label>Name</mat-label>
    <input matInput required />
    <mat-hint align="end">Min 5 char</mat-hint>
  </mat-form-field>

  <mat-form-field floatLabel="never" hideRequiredMarker appearance="standard">
    <!-- never always auto(default) -->
    <mat-label>Name</mat-label>
    <input matInput required />
    <mat-hint align="end">Min 5 char</mat-hint>
  </mat-form-field>

  <mat-form-field
    floatLabel="never"
    hideRequiredMarker
    appearance="fill"
    color="warn"
  >
    <!-- never always auto(default) -->
    <mat-label>Name</mat-label>
    <input matInput required />
    <mat-hint align="end">Min 5 char</mat-hint>
  </mat-form-field>

  <mat-form-field floatLabel="never" hideRequiredMarker appearance="outline">
    <!-- never always auto(default) -->
    <mat-label>Name</mat-label>
    <input matInput required />
    <mat-hint align="end">Min 5 char</mat-hint>
  </mat-form-field>
</div>
