<h1 style="text-align: center;">Auto Complete</h1>
<div>
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="thisIsToLink" />

    <mat-autocomplete #thisIsToLink="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br />

  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFun">
      <mat-option *ngFor="let option of objectOptions" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br />

  <mat-form-field>
    <input
      type="text"
      matInput
      [matAutocomplete]="link"
      [formControl]="myControl"
    />
    <mat-autocomplete #link="matAutocomplete" [displayWith]="displayFun">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
