<h1 style="text-align:center;">Button</h1>
<div>
    <button mat-button>mat-button</button>
    <button mat-raised-button>mat-button</button>
    <button mat-flat-button>mat-button</button>
    <button mat-stroked-button>mat-button</button>
</div>

<div>
    <button mat-icon-button>mat-icon-button</button><br>
    <button mat-fab>mat-fab</button><br>
    <button mat-mini-fab>mat-mini-fab</button>
</div>

<div>
    <button color="primary" mat-button>color primary</button>
    <button color="accent" mat-button>color accent</button>
    <button color="warn" mat-button>color warn</button>

    <button color="primary" mat-raised-button>color primary</button>
    <button color="accent" mat-raised-button>color accent</button>
    <button color="warn" mat-raised-button>color warn</button>
</div>

<div>
    <button color="primary" disableRipple mat-raised-button>color primary, disableRipple, raised</button>
</div>