<h1 style="text-align: center;">Select</h1>
<div>
  <div>
    <mat-form-field>
      <mat-label>Topic</mat-label>
      <mat-select [(value)]="selectedValue" multiple>
        <mat-option>Nun</mat-option>
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
      </mat-select>
    </mat-form-field>
    {{ selectedValue }}
  </div>
  <div>
    <mat-form-field>
      <mat-label>Topic</mat-label>
      <mat-select>
        <mat-option>Nun</mat-option>
        <mat-optgroup label="web">
          <mat-option value="angular">Angular</mat-option>
          <mat-option value="react">React</mat-option>
          <mat-option value="vue">Vue</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Mobile">
          <mat-option value="ionic">Ionic</mat-option>
          <mat-option value="react_native">React Native</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
</div>
